.main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 100%;
    padding: 150px 0;
}

.main h1 {
    max-width: 80%;
    margin: auto;
}

.main-menu {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    color: #000;
    font-size: 1rem;
    text-decoration: none;
}

.main-menu:hover {
    cursor: pointer;
    text-decoration: underline
}

.main-add {
    position: absolute;
    top: 50px;
    right: 50px;
    font-weight: 100;
    aspect-ratio: 1/1;
    padding: 20px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(.7);
}

.main-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
    padding-bottom: 20px;
    max-width: 95%;
    height: 100%;
    overflow-x: auto;
}

.main-list__item {
    display: flex;
    align-items: center;
    padding: 25px 50px;
    background-color: #fff;
    border-radius: 100px;
    width: 90%;
    min-width: 1000px;
}

.main-list__item-content__title {
    font-weight: 500;
    font-size: 1rem;
}

.main-list__item-content__description {
    color: #000a;
    font-size: .7rem;
    margin-right: 40px;
}

.main-list__item-reward {
    margin-left: auto;
    font-size: 1rem;
    font-weight: 900;
    color: var(--color-green);
    margin-right: 50px;
}

.main-list__item-modify, .main-list__item-delete {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--color-green);
    border: 2px solid var(--color-green);
    border-radius: 100px;
    padding: 3px 20px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    font-size: .7rem;
}

.main-list__item-delete {
    color: var(--color-red);
    border: 2px solid var(--color-red);
    margin-left: 10px;
}

@media screen and (max-width: 800px) {
    .main {
        padding: 100px 0;
        align-items: start;
    }
    
    .main-add {
        position: fixed;
        top: calc(100vh - 120px);
        right: 20px;
        z-index: 10;
    }

    .main-list__item {
        padding: 15px 35px;
    }

    .main-list {
        padding-left: 0;
        margin-left: 15px;
    }

    .main h1 {
        align-content: start;
        margin: 0;
        margin-left: 20px;
    }

    .main-menu {
        left: 20px;
    }
}

.main-form {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 50px;
    padding-top: 90px;

    width: 800px;
    max-width: 95%;
    height: fit-content;
    background-color: var(--color-blue-light);
    border-radius: 10px;
    box-shadow: 0 0 1px 100vw #fffa;
}

.main-form__input {
    padding: 10px 30px;
    border-radius: 100px;
    border: none;
    background-color: #fff;
    font-size: .9rem;
    font-weight: 500;
    width: 500px;
    max-width: 100%;
    color: #000a;
}

.main-form__input:focus {
    outline: none;
    border: 1px solid #0005;
}

.main-form__input--description {
    width: 700px;
}

.main-form__input--reward {
    width: 300px;
    margin-bottom: 30px;
}

.main-form__submit {
    background-color: var(--color-blue);
    width: 400px;
    max-width: 100%;
    color: #fff;
    border: none;
    border-radius: 100px;
    padding: 10px 30px;
    font-size: .9rem;
    cursor: pointer;
}

.main-form__close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transform: rotate(45deg) scale(.8);
    filter: drop-shadow(0 10px 10px #0005);
}

@media screen and (max-width: 800px) {
    .main-form {
        padding: 20px;
        padding-top: 85px;
        padding-bottom: 40px;
    }

    .main-form__input {
        width: 100%;
    }
}